{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/htmx.org@1.7.0/dist/htmx.js"></script>
  </head>
    <title></title>
  </head>
  <body>
    <div>
			<button hx-target="#cat" hx-get="/cat">Generate</button>
      <div id="cat">
        {{ template "cat" . }}  
      </div>
		</div>
  </body>
</html>
{{ end }}

{{ block "cat" . }}
  Cat:
  <img src="{{.Url}}" alt="" />
{{ end }}


